# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\semester3\fullstack\jupiter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
